<!--========================== NavBar Starts ================================-->


<div class="body">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="padding: 13px 1rem;">
        <div class="row">

            <a href="#" class="col-sm-2 navbar-brand">  
              <img src="assets/icons/Logo.png" alt="CoolBrand"><p>योग शक्ति</p>
            </a>

            <div class="navbar-nav ml-auto">

                <div class="col4">
                   <img src="assets/icons/Google Translate.ico" alt="Google-Translate-Icon">
                </div>

                <div class="col8">

                    <div class="col-75" style="border-radius: 0px; box-shadow: #929292 5px 5px 5px;">

                      <ul class="nav navbar-nav navbar-right"  style="border: 1px solid #ccc; border-radius: 0px;width: 106px;font-size: 15px;color: #4a4a4a;font-weight:700;margin: 0;box-shadow: #6d6d6d 5px 5px 5px;">
                        <li class="dropdown"  style=" border: 1px solid #ccc;border-radius: 0px;width: inherit;color: #000;">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" 
                           style="color: #6b6a6a; border-radius: 0px;padding: 10px;">Language</a>
                          <ul class="dropdown-menu" style=" box-shadow: #6d6d6d 5px 5px 5px;">
                            <li style=" border: 0px;border-radius: 0px;"><a href="/EnglishYoga" style="border-radius: 0px;"> English </a></li>
                            <li style=" border: 0px;border-radius: 0px;"><a href="/HindiYoga" style="border-radius: 0px;"> Hindi</a></li>
                          </ul>
                        </li>
                      </ul>

                    </div>

                </div>


            </div>
               
        </div>

    </nav>

</div>

<!--  <select id="language" name = "images"[(ngModel)]="images" > 
                            <!-(ngModelChange)="setLeng()" > --
                          <option value="english" selected="selected" >
                          <a routerLink="/EnglishYoga" routerLinkActive="active" > English </a></option>
                          <option value="hindi"
                           routerLink="/HindiYoga" routerLinkActive="active" > Hindi </option>

                          </select> -->
<!-- 
                          <select (change)="onNavigate($event.target.value)"> 
                            <option value="English"> English </option> 
                            <option value="Hindi"> Hindi </option> 
                          </select>
 -->

<!--========================== NavBar Ends ================================-->


<!--========================== Header Starts ================================-->

<div class="header">

  <div class="jumbotron">
    <div class="col-md-6 left" >
      <img src="assets/icons/MainPageImg.png" >
    </div>

    <div class="col-md-6 right">
      <div class="row">
        <div class="col4 ">
          <div class="logo">
            <img src="assets/icons/Logo.png" alt="" class="hide1">      
          </div>
        </div>
       
        <div class="col8" ><p> योग शक्ति </p></div>
      </div>

      <div class="title"  >
          <p> योग जर्नल इन-योगा योग मुद्रा निर्देश के लिए आपका नंबर एक स्रोत है, उन्नत चिकित्सकों के लिए शुरुआती के लिए योग अनुक्रम, अपने दिन को तनाव-मुक्त रखने के लिए निर्देशित ध्यान, और ज्ञान को प्रेरित करने और अपने पथ को मजबूत करने के लिए योगिक ज्ञान। मुझमें प्रकाश तुम में प्रकाश का सम्मान करता है। नमस्ते</p>
          
      </div> 
      <div class="col-md-12">
        
        <img src="assets/icons/skyline.png" alt="">
        
      </div>
    </div>
  </div>

</div>

<!--========================== Header Ends ================================-->



<!-- Yogasan Images Start-->
<section class="yogasan">
    <div class="container">
        <div class="row justify-content">
            <div class="col-12 col-md-12">
                
                 
                <div class="yogaimages" >
                 
                    
                    <div class="title"> 
                      <figure class="snip1566" data-target="#myCarousel" data-slide-to="0">
                        <img src="assets/1.png">
                        <figcaption><i class="fa fa-play-circle-o"></i></figcaption>
                        <a href="#yogadayhindi" class="down"> </a>
                      </figure>
                      <span> योग दिवस के बारे में </span>
                    </div>

                    <div class="title"> 
                      <figure class="snip1566" data-target="#myCarousel" data-slide-to="1">
                        <img src="assets/1.png">
                        <figcaption><i class="fa fa-play-circle-o"></i></figcaption>
                        <a href="#f"  class="down"> </a>
                      </figure>
                      <span> योग के बारे में </span>
                    </div>

                    <div class="title">  
                      <figure class="snip1566" data-target="#myCarousel" data-slide-to="2">
                        <img src="assets/2.png"> 
                         <figcaption><i class="fa fa-play-circle-o"></i></figcaption>
                        <a href="#g"  class="down"> </a>
                      </figure>
                      <span> योग आसन खड़े होकर </span> 
                    </div>

                    <div class="title"> 
                      <figure class="snip1566" data-target="#myCarousel" data-slide-to="3" >
                        <img src="assets/3.png"> 
                        <figcaption><i class="fa fa-play-circle-o"></i></figcaption>
                        <a href="#h"  class="down"> </a>
                      </figure>
                      <span> योग आसन बैठ कर</span> 
                    </div>

                    <div class="title"> 
                      <figure class="snip1566" data-target="#myCarousel" data-slide-to="4">
                        <img src="assets/das.png"> 
                        <figcaption><i class="fa fa-play-circle-o"></i></figcaption>
                        <a href="#i"  class="down"> </a>
                      </figure>
                      <span> योग आसन लेटे हुए  </span> 
                    </div>

                    <div class="title"> 
                      <figure class="snip1566" data-target="#myCarousel" data-slide-to="5">
                        <img src="assets/motivation.png"> 
                        <figcaption><i class="fa fa-play-circle-o"></i></figcaption>
                        <a href="#j"  class="down"> </a>
                      </figure>
                      <span> योग ध्यान </span> 
                    </div>
              
                </div>   
                <span class="up"></span>
            </div>
        </div>
    </div>

    <div class="slider">
              <div id="myCarousel" class="slide-toggle" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                  </ol>


                <!-- HINDI Wrapper for slides -->
              <div class="carousel-inner">

                <div class="item active"  id="yogadayhindi" >
                    <div class="col-md-6">
                      
                      <video data-dashjs-player class="video1" id="videoSlide"[src]="about_hindi_yoga_day" controls #video  >
                      </video>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col4">
                          
                          <img src="assets/1.png" width="120" height="auto" class="Yoga_img_1">
                        </div>
                        <div class="col8">
                          <p>योग दिवस के बारे में  </p>
                        </div>
                      </div>
                      <p class="yogaDescripation">
                        अंतर्राष्ट्रीय योग दिवस, या आमतौर पर और अनौपचारिक रूप से योग दिवस के रूप में जाना जाता है, संयुक्त राष्ट्र महासभा (UNGA) में इसकी स्थापना के बाद से 21 जून को प्रतिवर्ष मनाया जाता है। योग एक शारीरिक, मानसिक और आध्यात्मिक अभ्यास है जो भारत में उत्पन्न हुआ। भारतीय प्रधान मंत्री नरेंद्र मोदी ने अपने संयुक्त राष्ट्र के संबोधन में 21 जून की तारीख का सुझाव दिया, क्योंकि यह उत्तरी गोलार्ध में वर्ष का सबसे लंबा दिन है और दुनिया के कई हिस्सों में एक विशेष महत्व रखता है।
                      </p>
                
                        <div class="box">
                          <div class="col-12">
                            <div class="col3 first">
                              <img src="assets/icons/download.png" >
                            </div>
                            <div class="col3 second">
                              100+ Downloads
                            </div>
                            <div class="col3 third">
                              <img src="assets//icons/star-black.png">
                            </div>
                            <div class="col3 fourth">
                              100+ Views
                            </div>
                          </div> 
                        </div>
                      </div>
                  </div>
                  

                  <div class="item"  id="f" >
                    <div class="col-md-6">
                      
                      <video data-dashjs-player class="video1" id="videoSlide" [src]="about_hindi_yoga" controls #video  >
                      </video>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col4">
                          
                          <img src="assets/1.png" width="120" height="auto" class="Yoga_img_1">
                        </div>
                        <div class="col8">
                          <p>योग के बारे में </p>
                        </div>
                      </div>
                      <p class="yogaDescripation">
                        योग अनिवार्य रूप से एक अत्यंत सूक्ष्म विज्ञान पर आधारित एक आध्यात्मिक अनुशासन है जो मिनट और शरीर के बीच सद्भाव लाने पर केंद्रित है। यह स्वस्थ जीवन के विज्ञान की एक कला है। शब्द "योग" संस्कृत मूल औयुजा से लिया गया है जिसका अर्थ है "जुड़ना", या "एकजुट होना"। योगिक लिपि के अनुसार, सार्वभौमिक अंतःकरण के साथ एक व्यक्ति की चेतना के संघ की ओर जाता है। आधुनिक वैज्ञानिकों के अनुसार, ब्रह्माण्ड में सब कुछ एक ही ऐनुमेंटम फर्म है। जो अस्तित्व की इस एकता का अनुभव करता है, उसे "योग में" कहा जाता है और योगी के रूप में कहा जाता है, जिसे मुक्ति का प्रतीक माना जाता है, जिसे मुक्ती, निर्वाण, काव्यालय ओरमोका कहा जाता है।
                      </p>
                
                        <div class="box">
                          <div class="col-12">
                            <div class="col3 first">
                              <img src="assets/icons/download.png" >
                            </div>
                            <div class="col3 second">
                              100+ Downloads
                            </div>
                            <div class="col3 third">
                              <img src="assets//icons/star-black.png">
                            </div>
                            <div class="col3 fourth">
                              100+ Views
                            </div>
                          </div> 
                        </div>
                      </div>
                  </div>
                  
                  

                      <div class="item" id="g">
                        <div class="col-md-6">
              
                      <video data-dashjs-player class="video1"[src]="standing_hindi" controls #video>
                        
                      </video>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col4">
                          <img src="assets/2.png" width="120" height="auto" class="Yoga_img_1">
                        </div>
                        <div class="col8">
                          <p>योग आसन खड़े होकर</p>
                        </div>
                      </div>
                      <p class="yogaDescripation">
                        योग जर्नल इन-योगा योग मुद्रा निर्देश के लिए आपका नंबर एक स्रोत है, उन्नत चिकित्सकों के लिए शुरुआती के लिए योग अनुक्रम, अपने दिन को तनाव-मुक्त रखने के लिए निर्देशित ध्यान, और ज्ञान को प्रेरित करने और अपने पथ को मजबूत करने के लिए योगिक ज्ञान। मेरे अंदर का प्रकाश प्रकाश का सम्मान करता है
                      </p>
                         <div class="box">
                          <div class="col-12">
                            <div class="col3 first">
                              <img src="assets/icons/download.png" >
                            </div>
                            <div class="col3 second">
                              100+ Downloads
                            </div>
                            <div class="col3 third">
                              <img src="assets//icons/star-black.png">
                            </div>
                            <div class="col3 fourth">
                              100+ Views
                            </div>
                          </div> 
                        </div>
                      </div>
                  
                    </div>

                    <div class="item" id="h">
                        <div class="col-md-6">
              
                      <video data-dashjs-player class="video1" [src]="seating_hindi" controls #video >
                        
                      </video>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col4">
                          <img src="assets/3.png" width="120" height="auto" class="Yoga_img_1">
                        </div>
                        <div class="col8">
                          <p>योग आसन बैठ कर</p>
                        </div>
                      </div>
                      <p class="yogaDescripation">
                       पैरों को सीधा करके सामने की ओर फैलाकर बैठें। हाथों को फर्श पर आराम करते हुए कूल्हों और हथेलियों के बीच रखें। यह दंड आसन है। अब अपने पैरों के तलवों को एक साथ रखें। साँस लें और अपने हाथों को अपने पैर की उंगलियों पर एक साथ पकड़ें। पेरिनेम रिजीम तक अपनी एड़ी को जितना संभव हो उतना करीब खींचो। यदि आपके विचार स्पर्श नहीं कर रहे हैं या फर्श के करीब नहीं हैं, तो समर्थन के लिए घुटनों के नीचे एक नरम तकिया रखें। यह अंतिम स्थिति है। कुछ समय के लिए यहां रहें
                      </p>
                         <div class="box">
                          <div class="col-12">
                            <div class="col3 first">
                              <img src="assets/icons/download.png" >
                            </div>
                            <div class="col3 second">
                              100+ Downloads
                            </div>
                            <div class="col3 third">
                              <img src="assets//icons/star-black.png" >
                            </div>
                            <div class="col3 fourth">
                              100+ Views
                            </div>
                          </div> 
                        </div>
                      </div>
                  
                    </div>

                    <div class="item" id="i">
                        <div class="col-md-6">
              
                      <video data-dashjs-player class="video1" [src]="lying_hindi" controls #video >
                        
                      </video>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col4">
                          <img src="assets/4.png" width="120" height="auto" class="Yoga_img_1">
                        </div>
                        <div class="col8">
                          <p>योग आसन लेटे हुए </p>
                        </div>
                      </div>
                      <p class="yogaDescripation">
                          पैरों के साथ अपने पेट के बल लेट जाएं, पैर के अंगूठे बाहर की ओर इशारा करते हुए। दोनों भुजाओं को मोड़ें और दायें हथेली को बायीं हथेली पर रखें। सिर को या तो बाएं या दाएं हाथों पर रखें। आंखों को बंद रखें छेद शरीर को आराम दें। यह मकर आसन है। इस आसन का अभ्यास सभी प्रवण आसनों में विश्राम के लिए किया जाता है।
                      </p>
                         <div class="box">
                          <div class="col-12">
                            <div class="col3 first">
                              <img src="assets/icons/download.png" >
                            </div>
                            <div class="col3 second">
                              100+ Downloads
                            </div>
                            <div class="col3 third">
                              <img src="assets//icons/star-black.png" >
                            </div>
                            <div class="col3 fourth">
                              100+ Views
                            </div>
                          </div> 
                        </div>
                      </div>
                  
                    </div>


                    <div class="item" id="j">
                        <div class="col-md-6">
              
                      <video data-dashjs-player class="video1" [src]="meditation_hindi" controls #video >
                        
                      </video>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col4">
                          <img src="assets/5.png" width="120" height="auto" class="Yoga_img_1">
                        </div>
                        <div class="col8">
                          <p>योग ध्यान</p>
                        </div>
                      </div>
                      <p class="yogaDescripation">
                        सीताणी ध्यान मुद्रा। अपनी आँखें बंद करें और पूरे शरीर को आराम दें। दोनों ओस्ट्रिल के माध्यम से गहराई से श्वास लें, छाती का विस्तार करें। पैल्विक और पेट की मांसपेशियों के जोरदार संकुचन और निष्क्रिय रूप से सांस को बाहर निकालें। सक्रिय / बलपूर्वक साँस छोड़ना और assive साँस लेना जारी रखें। 30 तेज सांसों को पूरा करें, फिर गहरी सांस लें, धीरे-धीरे सांस लें और पूरी तरह आराम करें। यह कपालभाति का एक दौर है। प्रत्येक राउंड कुछ समय के लिए होने के बाद भी रखा जाएगा। 2 और राउंड दोहराएं।
                      </p>
                         <div class="box">
                          <div class="col-12">
                            <div class="col3 first">
                              <img src="assets/icons/download.png" >
                            </div>
                            <div class="col3 second">
                              100+ Downloads
                            </div>
                            <div class="col3 third">
                              <img src="assets//icons/star-black.png" >
                            </div>
                            <div class="col3 fourth">
                              100+ Views
                            </div>
                          </div> 
                        </div>
                      </div>
                  
                    </div>
                  
                  </div>
                  
                  
               <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="icon"> <br> <i class="fa fa-chevron-left" aria-hidden="false"></i></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="icon"> <br> <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    <span class="sr-only">Next</span>

                  </a>
                </div>
            </div>



</section>
<!-- Yogasan Images End-->

<!--================= Yoga Content Start =========================-->


<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12">

        <div class="footer_box">
          <div class="footer_header">
            <div class="col4">
              <img src="assets/icons/logowhite.png" alt="logo">
            </div>
          
             <div class="col8">
              <h2>योग शक्ति</h2>
              <h5> शिक्षा </h5>
            </div>
          </div><br>

          <div class="footer_box_body">
            
            <p > 4 भावुक युवा दिमाग की एक टीम के साथ शुरू, हम अब 200 डेवलपर्स और डिजाइनरों का परिवार हैं। इन सभी वर्षों में, हमने दुनिया भर में अपने ग्राहकों को प्रौद्योगिकी के माध्यम से अद्भुत उपयोगकर्ता अनुभव प्रदान करने के लिए दृष्टि का पालन किया है।
            </p>
            <div class="googlebtn">
                    <a href="https://play.google.com/store/apps/details?id=cdac.com.yogaapp">
                      <button type="button" class="btn btn-color-light">
                        <img src="assets/icons/googlePlay.png" alt="Ok">
                      </button>
                    </a>
                  </div>
          </div>
        </div>

      </div>


      <div class="col-12 col-md-6">
        
        <div class="content_box">
          <div class="app-img">
            <img src="assets/icons/logowhite.png" alt="image">
          </div>

          <div class="row_second">
            
              <div class="col-3 first">
                <img src="assets/icons/download-white.png" alt="down">
              </div>
              <div class="col-3 second">
                <p>100+ download</p>
              </div>
              <div class="col-3 third">
                <img src="assets/icons/star-white.png" alt="star">
              </div>
              <div class="col-3 fourth">
                <p>4+ Avg.Rating</p>
              </div>
            
          </div>
        </div> 
      </div>
    </div>
  </div>  
</footer> 

<!--====================== Yoga Content End ========================-->

<!--=======================  Footer Starts ==========================--->

<div class="footer">
  <div class="row">
    <div class="col4 text-right"><p>&copy; Copyright 2019</p> 
    </div>
    <div class="col8">
      <div class="list">
        <ul>
            <li> <a class="module" href="#"> Sitemap </a></li>
            <li> <a class="module" href="#"> Privacy Policy</a></li>
            <li> <a class="module" href="#"> Terms of use</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--=======================  Footer End ==========================--->

<a routerLink="/HindiYoga" routerLinkActive="active"></a>







  